.card1 {
    margin: 10px;
    max-width: 345px;


}

.card2 {
    margin: 10px;


    max-width: 345px;
}

.card3 {
    margin: 10px;

    max-width: 345px;
}

.card4 {
    margin: 10px;

    max-width: 345px;
}

.image1 {
    height: 250px;

}

.image2 {
    height: 250px;

}

.image3 {
    height: 250px;

}

.image4 {
    height: 250px;

}

.Butt {

    margin-left: 78px;


}

.tit {
    font-size: 35px;

    text-align: center;


}
